{% extends 'base.html.twig' %}
{% block title 'Drake Ball Shop' %}

{% block body %}
    <div class="text-center page text-home">
    <h1>Drake Ball Shop</h1>
    <img src="{{ '/images/background/boules_de_cristal.jpg'}}" alt="card-img-top" class="boules-cristal">
    <p>Bienvenue sur le site de vente de carte, nous sommes actuellement en cours de développement, d'ici quelque semaines, il aura plus de contenu et d'amélioration de notre site</p>
    <br>
    
    <div class='container bg-home rounded text-center p-3 mb-5'>
        <h2 class="text-warning">Les derniers cartes sorties</h2>
        <div class='d-flex'>
            {% for property in properties %}
                <div class='col-3'>
                    <div class='card'>
                        <div class='card-body card-home text-white
                        {% if property.colorType == 'Vert' %}bg-success{% endif %}
                        {% if property.colorType == 'Rouge' %}bg-danger{% endif %}
                        {% if property.colorType == 'Noir' %}bg-dark{% endif %}
                        {% if property.colorType == 'Jaune' %}bg-warning{% endif %}'>
                            <h5 class='card-title'>
                               {% if property.filename %}
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">
                            <img src="{{ vich_uploader_asset(property, 'imageFile') }}" alt="card-img-top" class="img-home-dbs">
                            </a>
                            {% else %}
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">
                            <img src="{{ '/images/properties/empty.jpg' }}" alt="card-img-top"  class="img-home-dbs">
                            </a>
                            {% endif %}
                            <br>
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{property.title}}</a>
                            </h5>
                            <div>{{property.seriestype}}</div>
                        </div>
                        <a class="btn btn-primary btn-info" href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">Plus info</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
    
{% endblock %}