{{ form_start(form) }}
<div class="d-flex flex-wrap text-center bg-info mb-4 p-2 formArticle">
    <div class='col-md-3'>
        <div >{{ form_label(form.title,'Titre') }}</div>
        <div >{{ form_widget(form.title) }} </div>
    </div>
     <div class='col-md-3'>
        <div >{{ form_label(form.type) }}</div>
        <div>{{ form_widget(form.type) }} </div>
    </div>
     <div class='col-md-3'>
       <div>{{ form_label(form.series) }}</div>
        <div>{{ form_widget(form.series) }} </div>
    </div>
        
     <div class='col-md-3 ml-2'>
        <div >{{ form_label(form.color,'Couleur') }}</div>
        <div >{{ form_widget(form.color) }} </div>
    </div>
     <div class='col-md-3'>
        <div >{{ form_label(form.origin,'Origine') }}</div>
        <div>{{ form_widget(form.origin) }} </div>
    </div>
     <div class='col-md-3'>
       <div>{{ form_label(form.era,'Ere') }}</div>
        <div>{{ form_widget(form.era) }} </div>
    </div>
    
     <div class='col-md-3'>
        <div >{{ form_label(form.personage,'Personnage') }}</div>
        <div >{{ form_widget(form.personage) }} </div>
    </div>
     <div class='col-md-3'>
        <div >{{ form_label(form.description,'Description') }}</div>
        <div>{{ form_widget(form.description) }} </div>
    </div>
     <div class='col-md-3'>
       <div>{{ form_label(form.rarity,'Rarité') }}</div>
        <div>{{ form_widget(form.rarity) }} </div>
    </div>

     <div class='col-md-3'>
        <div >{{ form_label(form.power,'Puissance') }}</div>
        <div >{{ form_widget(form.power) }} </div>
    </div>
     <div class='col-md-3'>
        <div >{{ form_label(form.costEnergy,'Coût énergie') }}</div>
        <div>{{ form_widget(form.costEnergy) }} </div>
    </div>
     <div class='col-md-3'>
       <div>{{ form_label(form.costCombo,'Coût Combo') }}</div>
        <div>{{ form_widget(form.costCombo) }} </div>
    </div>
    
     <div class='col-md-3'>
        <div >{{ form_label(form.powerCombo,'Puissance de combo') }}</div>
        <div >{{ form_widget(form.powerCombo) }} </div>
    </div>
     <div class='col-md-3'>
        <div >{{ form_label(form.quantity,'Quantity') }}</div>
        <div>{{ form_widget(form.quantity) }} </div>
    </div>
    <div class='col-md-3'>
       <div>{{ form_label(form.price,'Prix') }}</div>
        <div>{{ form_widget(form.price) }} </div>
    </div>

     <div class='col-md-3'>
        <div >{{ form_label(form.imageFile,'Upload une image') }}</div>
        <div >{{ form_widget(form.imageFile) }} </div>
    </div>
     <div class='col-md-3'>
        <div >{{ form_label(form.sold,'Rupture de stock') }}</div>
        <div>{{ form_widget(form.sold) }} </div>
    </div>
     
     <div class="ml-auto p-2 bd-highlight">
 {% if article.filename %}
            <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top">
   {% endif %}
     </div>
   <div class='col-md-3'>
     
    </div>
</div>
    <button class="btn btn-primary mt-2 mb-4 btn-article">{{ button|default('Enregistrer') }}</button>
    

{{ form_end(form) }}
