{{ form_start(form) }}
<div class="d-flex flex-column pagination-centered bg-secondary p-2">
    <div class="row">
        <div class="col-md-4">{{ form_row(form.title, {'label': 'Titre'}) }}</div>
        <div class="col-md-4">{{ form_row(form.type) }}</div>
        <div class="col">{{ form_row(form.series) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.color, {'label': 'Couleur'}) }}</div>
        <div class="col-md-4">{{ form_row(form.origin, {'label': 'Origine'}) }}</div>
        <div class="col">{{ form_row(form.era, {'label': 'Ere'}) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.personage, {'label': 'Personnage'}) }}</div>
        <div class="col-md-4">{{ form_row(form.description) }}</div>
        <div class="col-md-4">{{ form_row(form.rarity, {'label': 'Rarité'}) }}</div>
        </div>
        <div class="row">
        <div class="col-md-4">{{ form_row(form.power, {'label': 'Puissance'}) }}</div>
        <div class="col-md-4">{{ form_row(form.costEnergy, {'label': 'Coût énergie'}) }}</div>
        <div class="col">{{ form_row(form.costCombo, {'label': 'Coût Combo'}) }}</div>
         </div>
         <div class="row">
        <div class="col-md-4">{{ form_row(form.powerCombo, {'label': 'Puissance de Combo'}) }}</div>
   <div class="col-md-4">{{ form_row(form.quantity, {'label': 'Quantity'}) }}</div>
    <div class="col">{{ form_row(form.price, {'label': 'Prix'}) }}</div>
     </div>
      <div class="row">
      
        <div class="col-md-4">{{ form_row(form.imageFile, {'label': 'Upload l\'image'}) }}</div>
    <div class="col-md-4">{{ form_row(form.sold, {'label': 'Rupture de stock'}) }}</div>
     </div>
    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
    {{ form_widget(form) }}
</div>
{{ form_end(form) }}
