<div class="card mb-4">
{% if property.filename %}
<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">
<img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" >
 </a>
{% else %}
<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">
<img src="{{ '/images/properties/empty.jpg' | imagine_filter('medium')  }}" alt="card-img-top" >
 </a>
{% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{property.title}}</a>
        </h5>
        <p class="card-text">
            {{property.seriestype}}
        </p>
        <div class='text-primary'>{{property.price}} €
        </div>
         <form action="{{ path('panier.ajout', {'id': property.id}) }}" method="get">
          <label for="exampleFormControlSelect1">Quantité</label>
    <select class="form-control" id="exampleFormControlSelect1" name="qte">
      {% for i in 1..5 %}
      <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>
               
            </p>
            <p class="card-text">
                <button class="btn btn-success btn-lg">Mettre au panier</button>
            </p>
        </form>
    </div>
</div>
