{% extends 'base.html.twig' %}
{% block title property.title %}

{% block body %}
    <div class="flex container text-center page mb-2">
        <a class="bg-primary text-white backup rounded p-1 mb-2" href="{{ path('property.collection') }}">Retour aux cartes</a>
        <h1>{{ property.title }}</h1>
        <br>
        <div class="d-flex align-items-center text-center">
            {% if property.filename %}
                <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('large') }}" alt="card-img-top" class="ml-2 mr-2">
            {% else %}
                <img src="{{ '/images/properties/empty.jpg' | imagine_filter('large') }}" alt="card-img-top" class="ml-2 mr-2">
            {% endif %}
            <div class="col-md-8 p-2 flex-fill ">
                <table class="table table-striped">
                    <thead class="text-white    {% if property.colorType == 'Vert' %}bg-success
                                            {% elseif property.colorType == 'Rouge' %}bg-danger
                                            {% elseif property.colorType == 'Bleu' %}bg-primary
                                            {% elseif property.colorType == 'Noir' %}bg-dark
                                            {% elseif property.colorType == 'Jaune' %}bg-warning
                                            {% elseif property.colorType == 'Bleu / Jaune' %}bg-primary
                                             {% elseif property.colorType == 'Rouge / Vert' %}bg-danger{% endif %}">
                        <tr>
                            <td>Type</td>
                            <td>Couleur</td>
                            <td>Puissance</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ property.typetype }}</td>
                            <td>{{ property.colortype }}</td>
                            <td>{{ property.formatedPower }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                      <thead class="text-white    {% if property.colorType == 'Vert' %}bg-success
                                            {% elseif property.colorType == 'Rouge' %}bg-danger
                                            {% elseif property.colorType == 'Bleu' %}bg-primary
                                            {% elseif property.colorType == 'Noir' %}bg-dark
                                            {% elseif property.colorType == 'Jaune' %}bg-warning
                                            {% elseif property.colorType == 'Bleu / Jaune' %}bg-warning
                                             {% elseif property.colorType == 'Rouge / Vert' %}bg-success{% endif %}">
                        <tr>
                            <td>Coût énergie</td>
                            <td>Coût combo</td>
                            <td>Puissance combo</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ property.costenergy }}</td>
                            <td>{{ property.costcombo }}</td>
                            <td>{{ property.formatedPowerCombo }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                      <thead class="text-white    {% if property.colorType == 'Vert' %}bg-success
                                            {% elseif property.colorType == 'Rouge' %}bg-danger
                                            {% elseif property.colorType == 'Bleu' %}bg-primary
                                            {% elseif property.colorType == 'Noir' %}bg-dark
                                            {% elseif property.colorType == 'Jaune' %}bg-warning
                                            {% elseif property.colorType == 'Bleu / Jaune' %}bg-primary
                                             {% elseif property.colorType == 'Rouge / Vert' %}bg-danger{% endif %}">
                        <tr>
                            <td>Personnage</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ property.personagetype }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                     <thead class="text-white    {% if property.colorType == 'Vert' %}bg-success
                                            {% elseif property.colorType == 'Rouge' %}bg-danger
                                            {% elseif property.colorType == 'Bleu' %}bg-primary
                                            {% elseif property.colorType == 'Noir' %}bg-dark
                                            {% elseif property.colorType == 'Jaune' %}bg-warning
                                            {% elseif property.colorType == 'Bleu / Jaune' %}bg-warning
                                             {% elseif property.colorType == 'Rouge / Vert' %}bg-success{% endif %}">
                        <tr>
                            <td>Origine</td>
                            <td>&Egrave;re</td>
                            <td>Rareté</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ property.origintype }}</td>
                            <td>{{ property.eratype }}</td>
                            <td>{{ property.rarityType }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                    <thead class="text-white    {% if property.colorType == 'Vert' %}bg-success
                                            {% elseif property.colorType == 'Rouge' %}bg-danger
                                            {% elseif property.colorType == 'Bleu' %}bg-primary
                                            {% elseif property.colorType == 'Noir' %}bg-dark
                                            {% elseif property.colorType == 'Jaune' %}bg-warning
                                            {% elseif property.colorType == 'Bleu / Jaune' %}bg-primary
                                             {% elseif property.colorType == 'Rouge / Vert' %}bg-danger{% endif %}">
                        <tr>
                            <td>Description</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ property.description }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-primary p-2 flex-fill ">{{ property.price }}
                    €</div>
                <form action="{{ path('panier.ajout', {'id': property.id}) }}" method="get">
                    <select class="form-control" id="exampleFormControlSelect1" name="qte">
                        {% if property.quantity == 0 %}
                            <option value="0">0</option>
                        {% else %}
                            {% for i in 1..property.quantity %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </p>
                <p class="card-text">
                    {% if property.quantity == 0 %}
                        <span class="btn btn-danger btn-lg">Rupture de stock</span>
                    {% else %}
                        <button class="btn btn-success btn-lg">Mettre au panier</button>
                    {% endif %}
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
