{% extends 'base.html.twig' %}
{% block title property.title %}

{% block body %}
    <div class="flex container text-center mt-4">
        <h1>{{ property.title }}</h1>
    </div>
    <br>
    <div class="d-flex align-items-center text-center">
        <div class="col-md-8 p-2 flex-fill ">
            <table class="table table-striped">
                <thead class="bg-info">
                    <tr>
                        <td>Type</td>
                        <td>Couleur</td>
                        <td>Puissance</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ property.type }}</td>
                        <td>{{ property.color }}</td>
                        <td>{{ property.formatedPower }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="bg-info">
                    <tr>
                        <td>Coût énergie</td>
                        <td>Coût combo</td>
                        <td>Puissance combo</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ property.costenergy }}</td>
                        <td>{{ property.costcombo }}</td>
                        <td>{{ property.formatedPowerCombo }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="bg-info">
                    <tr>
                        <td>Personnage</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ property.personage }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="bg-info">
                    <tr>
                        <td>Origine</td>
                        <td>&Egrave;re</td>
                        <td>Rareté</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ property.origin }}</td>
                        <td>{{ property.era }}</td>
                        <td>{{ property.rarityType }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="bg-info">
                    <tr>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ property.description }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-primary p-2 flex-fill ">{{ property.price }} €</div>
            <button href="#" class="btn btn-primary">Acheter</button>
        </div>
    </div>
    {% endblock %}
