{% extends ('base.html.twig') %}

{% block body %}
    <div class="text-center page">
        <h1 class="text-center">Editer son profil</h1>

        {{ form_start(form) }}
        <div class="d-flex flex-column">
            <div class="col mb-2">{{ form_label(form.password, 'Mot de passe : ') }}</div>
            <div class="col mb-2">{{ form_widget(form.password) }}
            </div>
            <div class="col mb-2">{{ form_label(form.confirm_password, 'Confirmation de mot de passe : ') }}</div>
            <div class="col">{{ form_widget(form.confirm_password) }}
            </div>
        </div>
        <div class="mt-5">
            <a class="btn btn-primary" href="{{ path('profil') }}">Retour</a>
            <button class="btn btn-primary">{{ button|default('Valider') }}</button>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
