{% extends 'base.html.twig' %}
{% block title 'Contact' %}

{% block body %}
    <div class="jumbotron text-center page" id="contactForm">
        <h1>Contact</h1>
          
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                Veuillez bien remplir le formulaire
            </div>
        {% endif %}
        <div class="mt-4" id="contactForm">
        {{ form_start(form) }}
        <div class="d-flex flex-column">
         
            <div class="col">{{ form_label(form.firstname,'Nom') }}</div>
        <div class="col">{{ form_widget(form.firstname) }} </div>
        
           <div class="col">{{ form_label(form.lastname,'Prénom') }}</div>
        <div class="col">{{ form_widget(form.lastname) }} </div>
        </div>
            <div class="col">{{ form_label(form.phone,'Numéro de téléphone') }}</div>
        <div class="col">{{ form_widget(form.phone) }} </div>
        <div class="col">{{ form_label(form.email,'Adresse email') }}</div>
        <div class="col">{{ form_widget(form.email) }} </div>
        <div class="col">{{ form_label(form.message,'Votre message') }}</div>
        <div class="col">{{ form_widget(form.message) }} </div>
    </div>
      <button class="btn btn-primary">{{ button|default('Envoyer') }}</button>
     </div>
      
      {{ form_end(form) }}
    </div>
{% endblock %}
