<!DOCTYPE html>
<html lang="fr">
    </body>
    <div class="container page">
        <h2 class="text-center mb-5">Message</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Prénom :</td>
                    <td>{{ contact.firstname }}</td>
                </tr>
                <tr>
                    <td>Nom :</td>
                    <td>{{ contact.lastname }}</td>
                </tr>
                <tr>
                    <td>Téléphone :</td>
                    <td>{{ contact.phone }}</td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td>{{ contact.email }}</td>
                </tr>
                <tr>
                    <td>Message :</td>
                    <td>{{ contact.message }}</td>
                </tr>
            </thead>
        </table>
    </div>
    </body>
</html>