<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>

        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"> {% block stylesheets %}{% endblock %}
        <link href="{{ asset('build/style.css')}}" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="/images/logo/logo.png/" class="logo"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-4">
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" href="{{ path('property.collection') }}">Cartes</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-4">
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
                <div class="form-inline active-cyan-4 mr-4">
                    <input aria-label="Recherche" class="form-control form-control-sm mr-3 w-75" id="search" placeholder="Search" type="text">
               
                    <i aria-hidden="true" class="fas fa-search"></i>
                     <div class="position-absolute bg-white" id="entitiesNav"></div>
                </div>
           

            {% if is_granted('ROLE_USER') %}
                <div class="dropdown dropbottom">
                    <a aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">test</a>
                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-bottom">
                        <a class="dropdown-item menu-hover" href="#">User</a>
                       
                        <a class="dropdown-item menu-hover" href="{{ path('logout') }}">DECONNEXION</a>
                    </div>
                </div>
            {% elseif is_granted('ROLE_ADMIN') %}


                <div class="dropdown dropbottom">
                    <a aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">test</a>
                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-bottom">
                        <a class="dropdown-item menu-hover" href="{{ path('admin.property.index') }}">Admin</a>
                      
                            <a class="dropdown-item menu-hover" href="">Profil</a>
                      
                        <a class="dropdown-item menu-hover" href="{{ path('logout') }}">DECONNEXION</a>
                    </div>
                </div>


            {% else %}
                <ul class="navbar-nav nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('login') }}">
                            <i class="fas fa-sign-in-alt mr-2"></i>CONNEXION</a>
                    </li>
                </ul>
            {% endif %}
             </div>
        </div>
        </nav>
   {% block body %}{% endblock %}
   {% block javascripts %}{% endblock %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
   <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
     class SearchBar {
    constructor({target, showResult}) {
        this.target = target;
        this.showResult = showResult;
        this.timeOut = null;
        this.init();
    }

    init() {
        let searchRequest = null;
        
        const target = this.target;
         const showResult = this.showResult;
        $(target).keyup(function () {
            const minlength = 1;
            let value = $(this).val();
            if (value.length >= minlength) {
                if (searchRequest != null) {
                    searchRequest.abort();
                }
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('ajax_search') }}",
                    data: {
                        'q': value
                    },
                    dataType: "text",
                    success:  (response) => {
                        if (value == $(this).val()) {
                            var result = JSON.parse(response);

                            $.each(result,  (key, arr) => {
                                $.each(arr,  (id, resutls) => {
                                    if (key == "properties") {
                                        if (id != 'error') {
                                            $(showResult).show();
                                           $(showResult).append('<div class="text-danger"><a class="text-primary" href="/collection/' + resutls + '-' + id + '">' + resutls + '</a></div><hr>');
                                        } else {
                                        $(showResult).show();
                                            $(showResult).append('<div class="errorLi">' + resutls + '</div>');
                                        }
                                    }
                                     if (keyup) {
                                         $(showResult).html("");
                                         $(showResult).hide();
                                     }
                                });
                            });
                        }
                    }
                   
                });
            } 
        })
      
        .keypress(function () {
            $(showResult).html("");
            $(showResult).hide();
        });
    }
}

function initSearch() {
    new SearchBar({
        target: $("#search"), 
        showResult: $('#entitiesNav')
        });
}

if (window) {
    window.addEventListener("load", () => {
        initSearch();
    })
}
</script>
   
</body>
</html>
