<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="DrakeBallShop">
        <meta name="author" content="Ly Pheng">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="icon" type="img/png" href="{{ '/images/logo/logo.png' }}" sizes="30x30">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"> {% block stylesheets %}{% endblock %}
        <link href="{{ asset('build/style.css')}}" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg nav-bg position-fixed navbar-white bg-white" >
            <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ '/images/logo/logo.png' }}" alt="logo" class="logo">
            </a>

         <div class="navbar-toggler form-inline active-cyan-4 mr-2 search-respons" data-target="#navbarSupportedContent" aria-expanded="false" role="search">
            <label for="search-responsiv" class="d-none">Recherche</label>
            <input type="text" name="search-responsiv" id="search-responsiv" aria-label="Recherche" class="form-control form-control-sm mr-3 w-75 search" placeholder="Recherche">
            <i aria-hidden="true" class="fas fa-search"></i>
            <div class="position-absolute bg-white entitiesNav"></div>
        </div>

         <div class="navbar-toggler first-button" role="menu" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
            <div class="animated-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <a class="nav-link black-color{% if current_menu is defined and current_menu == 'properties' %}active btn btn-primary{% endif %}" href="{{ path('property.collection') }}">Collection</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <a class="nav-link black-color{% if current_menu is defined and current_menu == 'contact' %}active btn btn-primary{% endif %}" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
                <div class="form-inline active-cyan-4 mr-2 search-norespons">
                <label for="search-noresponsiv" class="d-none">Recherche</label>
                    <input type="text" name="search-noresponsiv" id="search-noresponsiv" aria-label="Recherche" class="form-control form-control-sm mr-3 w-75 search" placeholder="Recherche">
               
                    <i aria-hidden="true" class="fas fa-search"></i>
                     <div class="position-absolute bg-white entitiesNav"></div>
                </div>

            {% if is_granted('ROLE_USER') %}
                <div class="dropdown dropbottom">
                    <a aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">{{ app.user.username }}</a>
                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-bottom">    
                      <a class="nav-link" href="{{path('profil')}}">Espace membre</a> 
                        <a class="dropdown-item menu-hover" href="{{ path('logout') }}">Se déconnecter</a>
                    </div>
                </div>
                 <div>
                {{ render(controller('App\\Controller\\PanierController::nbArticle')) }}
                </div>
            {% elseif is_granted('ROLE_ADMIN') %}
                <div class="dropdown dropbottom">
                    <a aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">{{ app.user.username }}</a>
                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-bottom">
                        <a class="nav-link" href="{{ path('admin.property.index') }}">Administration</a>
                        <a class="dropdown-item menu-hover" href="{{ path('logout') }}">Se déconnecter</a>
                    </div>
                </div>
                <div>
                  {{ render(controller('App\\Controller\\PanierController::nbArticle')) }}
                </div>
            {% else %}
                <ul class="navbar-nav nav">
                    <li class="nav-item">
                        <a class="nav-link black-color mr-2 {% if current_menu is defined and current_menu == 'login' %}active btn btn-primary text-white{% endif %}" href="{{ path('login') }}">
                            <i class="fas fa-sign-in-alt mr-2"></i>Se connecter</a>
                    </li>
                    <li class="nav-item">
                      <a href="{{ path('registration') }}" class="nav-link black-color{% if current_menu is defined and current_menu == 'registration' %}active btn btn-primary text-white{% endif %}" ><i class="fas fa-file-signature"></i>S'inscrire</a>
                     </li>
                </ul>
            {% endif %}
             </div>
        </nav>
   {% block body %}{% endblock %}
   {% block javascripts %}{% endblock %}
     <footer class="font-small bg-dark pt-2">
     <div class="d-flex justify-content-between footer-base">
        <div class="span3 text-white mr-5">
            <ul>
                <li><h4>CONTACTS</h4></li>
                <li class="mb-2"><i class="fas fa-map-marker-alt mr-2"></i>Adresse : 8 Place du Château, 30000 Nîmes</li>
                <li><i class="fas fa-phone-alt mr-2"></i>Numéro : 06 07 08 09 10</li>
            </ul>
        </div>
        <div class="span3 text-center text-white mr-5">
            <ul>
                <li><h4>INFORMATIONS</h4></li>
                <li class="mb-2"><a href="#">CGU</a></li>
                <li><a href="#">Mentions légales</a></li>
            </ul>
        </div>
            <div class="span3 text-center text-white mr-5">
            <ul>
                <li><h4>LIENS</h4></li>
                <li><a href="#"><i class="fab fa-facebook-square lien-logo"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square lien-logo"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram lien-logo"></i></a></li>
            </ul>
        </div>
    </div>
        <div class="clearfix"></div>
        <div class="d-flex justify-content-center span3">
            <i class="far fa-copyright float-left mr-2 text-white"></i>
            <p class="text-footer text-light"> 2019 LY PHENG - OPENCLASSCROOM</p>
        </div>
    </footer>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ asset('build/script.js')}}"></script>
    <script>

    class SearchBar {
    constructor({target, showResult}) {
        this.target = target;
        this.showResult = showResult;
        this.init();
    }

    init() {
        let searchRequest = null;
        const target = this.target;
        const showResult = this.showResult;
        $(target).keyup(function () {
            const minlength = 1;
            let value = $(this).val();
            if (value.length >= minlength) {
                if (searchRequest != null) {
                    searchRequest.abort();
                }
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('ajax_search') }}",
                    data: {
                        'q': value
                    },
                    dataType: "html",
                    success: (response) => {
                        if (value == $(this).val()) {
                            const result = JSON.parse(response);
                            $.each(result,  (key, arr) => {
                                $.each(arr,  (test, results) => {
                                    if (key == "properties") {
                                        if (test != 'error') {
                                        const link = document.createElement("a");
                                        $(link).addClass("text-primary result-search");
                                        $(link).attr("href",'/collection/' + results + '-' + test + '');
                                        $(link).html('' + test + ' <hr>');
                                        $(showResult).append(link);
                                        $(showResult).show();
                                        } else {
                                            $(showResult).show();
                                            $(showResult).append('<div class="errorLi">' + results + '</div>');
                                        }
                                    }
                                });
                            });
                        }
                    }
                });
            } 
        })
        .keydown(function(){
            $(showResult).hide();
            $(showResult).html("");
        })
    }
}

function initSearch() {
    new SearchBar({
        target: $(".search"), 
        showResult: $('.entitiesNav')
        });
}

function navButton(){
    $('.first-button').on('click', function () {
        $('.animated-icon1').toggleClass('open');
    });
}

if (window) {
    window.addEventListener("load", () => {
    initSearch();
    navButton();
    });
}
</script>
</body>
</html>
